<?xml version="1.0" encoding="iso-8859-1"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity publicKeyToken="e4835428e22ad6f9" name="Corel.Interop.PHOTOPAINT" culture="neutral" />
				<bindingRedirect oldVersion="16.1.0.0-16.1.0.842" newVersion="16.1.0.843" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>