b.cBold
{
  font-weight: bold
}
code.cCode
{
  font-family: Courier New, Courier, mono
}
em.cEmphasis
{
  font-style: italic
}
sub.cSubscript
{
  vertical-align: sub
}
sup.cSuperscript
{
  vertical-align: super
}
u.cUnderline
{
  text-decoration: underline
}

p.pAnchorGraphic
{
  color: Black;
  font-family: Arial, Verdana, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.5em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0.5em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pAnchorTable
{
  color: Black;
  font-family: Arial, Verdana, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.5em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0.5em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pBody
{
  color: Black;
  font-family: Arial, Verdana, sans-serif;
  font-size: 0.8em;
  letter-spacing: 0px;
  line-height: 1.5em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.2em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0.5em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pBodyFirst
{
  color: Black;
  font-family: Arial, Verdana, sans-serif;
  font-size: 0.8em;
  letter-spacing: 0px;
  line-height: 1.5em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.2em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0.5em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pBodyRelative
{
  color: Black;
  font-family: Arial, Verdana, sans-serif;
  font-size: 0.8em;
  letter-spacing: 0px;
  line-height: 1.5em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.5em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0.5em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pBodyRelative
{
  color: Black;
  font-family: Arial, Verdana, sans-serif;
  font-size: 0.8em;
  letter-spacing: 0px;
  line-height: 1.5em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0em;
  margin-left: 0.7em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pBullet
{
  color: Black;
  font-family: Arial, Verdana, sans-serif;
  font-size: 0.8em;
  letter-spacing: 0px;
  line-height: 1.5em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pPopup
{
  color: Black;
  font-family: Arial, Verdana, sans-serif;
  font-size: 0.8em;
  letter-spacing: 0px;
  line-height: 1.5em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 0.2em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0.5em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pPopupAppend
{
  color: Black;
  font-family: Arial, Verdana, sans-serif;
  font-size: 0.8em;
  letter-spacing: 0px;
  line-height: 1.5em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.2em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0.5em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pCallout
{
  color: Black;
  font-family: Arial, Verdana, sans-serif;
  font-size: 0.8em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 0.5em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0.5em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pCaption
{
  color: Black;
  font-family: Arial, Verdana, sans-serif;
  font-size: 0.8em;
  font-style: italic;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.5em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0.5em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pChapNum
{
  color: Black;
  font-family: Verdana, Segoe UI, Helvetica, sans-serif;
  font-size: 0.8em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}

div.pChapNum
{
  color: Black;
  font-family: Arial, Verdana, sans-serif;
  font-size: 0.8em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pCellBody
{
  color: Black;
  font-family: Arial, Verdana, sans-serif;
  font-size: 0.8em;
  letter-spacing: 0px;
  line-height: 1.5em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pListItemInTable
{
  color: Black;
  font-family: Arial, Verdana, sans-serif;
  font-size: 0.8em;
  letter-spacing: 0px;
  line-height: 1.5em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pCellHeading
{
  color: #324f85;
  font-family: Arial, Verdana, sans-serif;
  font-size: 0.8em;
  letter-spacing: 0px;
  line-height: 1.5em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
h2.pGroupTitlesIX
{
  color: #003366;
  font-family: Arial, Verdana, sans-serif;
  font-size: 0.8em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 0.5em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0.5em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
h2.pHeading1
{
  color: #324f85;
  font-family: Arial, Verdana, sans-serif;
  font-size: 1.1em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.5em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
h2.pSection
{
  color: #324f85;
  font-family: Arial, Verdana, sans-serif;
  font-size: 1.1em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.5em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
h3.pHeading2
{
  color: #324f85;
  font-family: Arial, Verdana, sans-serif;
  font-size: 1em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pHeading3
{
  color: Black;
  font-family: Arial, Verdana, sans-serif;
  font-size: 0.9em;
  letter-spacing: 0px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
h5.pHeading4
{
  color: Black;
  font-family: Arial, Verdana, sans-serif;
  font-size: 0.9em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 1.8em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
h4.pToDoHead
{
  color: Black;
  font-family: Arial, Verdana, sans-serif;
  font-size: o.9em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 2em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pIndented1
{
  color: Black;
  font-family: Arial, Verdana, sans-serif;
  font-size: 0.8em;
  letter-spacing: 0px;
  line-height: 1.5em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0em;
  margin-left: 2.5em;
  margin-right: 0em;
  margin-top: 0.5em;
  text-align: left;
  text-decoration: none;
  text-indent: 2.5em;
  text-transform: none
}
p.pIndentedRelative
{
  color: Black;
  font-family: Arial, Verdana, sans-serif;
  font-size: 0.8em;
  letter-spacing: 0px;
  line-height: 1.5em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0em;
  margin-left: -1.5em;
  margin-right: 0em;
  margin-top: 0.5em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pLevel1IX
{
  color: Black;
  font-family: Arial, Verdana, sans-serif;
  font-size: o.8em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.5em;
  margin-left: 2.5em;
  margin-right: 0em;
  margin-top: 0.5em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pLevel2IX
{
  color: Black;
  font-family: Arial, Verdana, sans-serif;
  font-size: 0.8em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.5em;
  margin-left: 5em;
  margin-right: 0em;
  margin-top: 0.5em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
li
{
  color: Black;
  font-family: Arial, Verdana, sans-serif;
  font-size: 0.8em;
  letter-spacing: 0px;
  line-height: 1.5em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0m;
  margin-right: 0em;
  margin-top: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pNote
{
  color: Black;
  font-family: Arial, Verdana, sans-serif;
  font-size: 1px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 1.5em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pNotes
{
  color: Black;
  font-family: Arial, Verdana, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 1.5em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pPreformatted
{
  color: Black;
  font-family: Courier New, Courier, mono;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pPreformattedRelative
{
  color: Black;
  font-family: Courier New, Courier, mono;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}

p.pSmartList1
{
  color: Black;
  font-family: Arial, Verdana, sans-serif;
  font-size: 0.8em;
  letter-spacing: 0px;
  line-height: 1.5em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pSmartList2
{
  color: Black;
  font-family: Arial, Verdana, sans-serif;
  font-size: 0.8em;
  letter-spacing: 0px;
  line-height: 1.5em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
h5.pSubHeading
{
  color: Black;
  font-family: Arial, Verdana, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 1.5em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pTip
{
  color: Black;
  font-family: Arial, Verdana, sans-serif;
  font-size: 1px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 1.5em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pTips
{
  color: Black;
  font-family: Arial, Verdana, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 1.5em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
h2.pTitle
{
  color: #003366;
  font-family: Arial, Verdana, sans-serif;
  font-size: 25px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 0.5em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0.5em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pTOC2
{
  color: Black;
  font-family: Arial, Verdana, sans-serif;
  font-size: 2em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 0.25em;
  margin-left: 2.5em;
  margin-right: 0em;
  margin-top: 0.25em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pTOC3
{
  color: Black;
  font-family: Arial, Verdana, sans-serif;
  font-size: 2em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 0.25em;
  margin-left: 5em;
  margin-right: 0em;
  margin-top: 0.25em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
ul
{
  color: Black;
  font-family: Arial, Verdana, sans-serif;
  font-size: 0.8em;
  letter-spacing: 0px;
  line-height: 1.5em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
ul.pSmartList2
{
  color: Black;
  font-family: Arial, Verdana, sans-serif;
  font-size: 0.8em;
  letter-spacing: 0px;
  line-height: 1.5em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0em;
  margin-left: 1.4em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
ol.pSmartList1
{
  color: Black;
  font-family: Arial, Verdana, sans-serif;
  font-size: 0.8em;
  letter-spacing: 0px;
  line-height: 1.5em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0em;
  margin-left: 2em;
  margin-right: 0em;
  margin-top: 1em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
table.autotable
{
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0.4em;
}
table.ToDo
{
color: #324f85;
  font-family: Arial, Verdana, sans-serif;
  font-size: 0.9em;
  letter-spacing: 0px;
  line-height: 1.5em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 2em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.MiniTOC
{
color: Black;
  font-family: Arial, Verdana, sans-serif;
  font-size: 0.8em;
  letter-spacing: 0px;
  line-height: 1.5em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pMiniTOC
{
color: Black;
  font-family: Arial, Verdana, sans-serif;
  font-size: 0.8em;
  letter-spacing: 0px;
  line-height: 1.5em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
table.TipNoteGraphic
{
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 1.5em;
}
table.TipNote
{
  margin-bottom: 0em;
  margin-left: 2em;
  margin-right: 0em;
  margin-top: 0.6em;

}
table.BulletInTipNote
{
  margin-bottom: 0em;
  margin-left: 2em;
  margin-right: 0em;
  margin-top: 0.3em;
}


