@charset "utf-8";
/* CSS Document */

/* This is the CSS to enable/disable elements for PP */

#cover_wordmark {
	background: left no-repeat url(../images/content/cover_headerPP.png)
}
#videotuts03, #bullet_newtemplate, #bullet_whatsnew04, #bullet_whatsnew05, #bullet_whatsnew06 {
	display: none;
}
div#body_right3_01 ul.thumbs li.thumb2,
div#body_right3_02 ul.thumbs li.thumb1,
div#body_right3_02 ul.thumbs li.thumb2,
div#body_right3_02 ul.thumbs li.thumb3,
div#body_right3_02 ul.thumbs li.thumb4,
div#body_right3_02 ul.thumbs li.thumb6 {
	visibility: hidden;
}
div#body_left2_02 ul.actions li#whatsnew02c,
div#body_left2_02 ul.actions li#whatsnew02d,
div#body_left2_03 ul.actions li#whatsnew03b,
div#body_left2_03 ul.actions li#whatsnew03c,
div#body_left2_03 ul.actions li#whatsnew03d,
div#body_left2_04 ul.actions li#whatsnew04b,
div#body_left2_04 ul.actions li#whatsnew04c {
	display: none;
}
div#body_right2_03 div.forward {
	display: none;
}
div#body_right3_00 ul.simplelist li#video03,
div#body_right3_00 ul.simplelist li#video04 {
	display: none;
}
#bullet_coreltutor {
	display: none;
}